*~
#*#
.idea
*.iml
*.komodoproject
.loadpath
.project
*.pyc
.pydevproject
*.pyo
*.redcar*
.*.swp
.sass-cache
.rvmrc
.DS_Store
.vagrant
.tags*
add-node.json
infrastructure.json
cns-automation-config*.yaml
ocp-on-vmware*.ini*
*.log
.tox
*.retry
.cache
